# Ignore build files and cache
**/build/
**/.gradle/
**/local.properties
**/node_modules/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Binaries / APKs / libs
*.apk
*.so
*.keystore


# Android build directories
**/android/app/build/
**/.gradle/
**/node_modules/
**/.cxx/
*.apk
*.so


# Android build files
**/android/app/build/
**/android/.gradle/
**/.gradle/
**/.cxx/
**/node_modules/
**/build/
*.apk
*.so
*.keystore
