# Ignore build files and cache
**/build/
**/.gradle/
**/local.properties
**/node_modules/

# IDE / editor
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Binaries / APKs / libs
*.apk
*.so
*.keystore
